.profilescreen{
    height: 100vh;
    color:white;
}
.psbody{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:0 auto;
    padding-top: 8%;
    max-width: 800px;
}
.psbody h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.psinfo{
    display: flex;
}
.psinfo img{
    height: 100px;
}
.psdetails{
    color: white;
    margin-left:25px ;
    flex:1;
}
.psdetails h2{
    background-color: grey;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}
.pssignout{
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    color:white;
    margin-top: 5%;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}
.psplans{
    margin-top: 10px;
}
.psplans h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}